/*
 * CSS for alexb.io
 * please don't steal
 */
/* Variables */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif; }

.wf-loading {
  visibility: hidden; }

.wf-active, .wf-inactive {
  visibility: visible; }

#body {
  max-width: 600px;
  margin: 0 auto; }

p, li {
  font-size: 14pt; }

/* Navbar styles */
nav {
  padding: 8px;
  border-bottom: 1px solid #ccc; }
  nav a.title {
    color: #000;
    font-size: 14pt;
    text-decoration: none;
    font-family: georgia, times; }
  nav span.left-title {
    float: right;
    font-variant: small-caps; }
  nav ul {
    display: inline;
    padding-left: 20px; }
    nav ul li {
      list-style: none;
      font-variant: small-caps;
      display: inline;
      padding-right: 5px; }
      nav ul li a {
        text-decoration: none;
        color: #000; }
        nav ul li a:hover {
          text-decoration: underline; }

/* Index styles */
ul#pages {
  text-align: center;
  padding: 0; }
  ul#pages li.page {
    list-style: none;
    padding-bottom: 25px; }
    ul#pages li.page:not(:last-child) {
      border-bottom: 1px solid #ccc; }
    ul#pages li.page h1 {
      margin: 20px 0; }
      ul#pages li.page h1 a {
        color: #000;
        text-decoration: none; }
        ul#pages li.page h1 a:hover {
          text-decoration: underline; }
    ul#pages li.page .meta .date {
      color: #888;
      margin: 10px; }

/* Post styles */
.post {
  margin: 25px 0; }
  .post .title {
    border-bottom: 1px solid #ccc; }
    .post .title h1 {
      margin: 0; }
      .post .title h1 .date {
        font-size: 18px;
        color: #888; }
    .post .title h3 {
      color: #888;
      margin: 15px 0;
      font-weight: normal; }
  .post pre code {
    font-size: 16px;
    font-family: "droid-sans-mono", monospace;
    border-radius: 5px;
    background-color: #1d1f21;
    overflow-x: hidden; }
    .post pre code:hover {
      overflow-x: scroll; }
    .post pre code::-webkit-scrollbar {
      display: none; }
  .post code {
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #f2f2f2; }
  .post blockquote {
    font-style: italic; }
