{{ partial "header.html" . }}

<ul id="pages">
  {{ range .Data.Pages }}
  {{ if (eq .Section "post") }}
  <li class="page">
    <a href="{{ .Permalink }}">
      <h1>{{ .Title }}{{ if .Draft }} :: DRAFT{{ end }}</h1>
      <div class="meta">
        <div class="date">
          {{ .Date.Format "Mon, Jan 2, 2006" }}
        </div>
        <div class="tagline">
          {{ .Params.tagline }}
        </div>
      </div>
    </a>
  </li>
  {{ end }}
  {{ end }}
</ul>

{{ partial "footer.html" . }}
