/*!
 * CSS for alexb.io
 * please don't steal
**/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif; }

p {
  font-family: "freight-text-pro", Georgia, Times, sans-serif; }

code {
  font-family: "droid-sans-mono", monospace; }
