/*!
 * CSS for alexb.io
 * please don't steal
**/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif; }

p, li {
  font-size: 14pt; }

code {
  font-family: "droid-sans-mono", monospace; }

blockquote {
  font-style: italic; }

#body {
  max-width: 600px;
  margin: 0 auto; }

nav {
  padding: 8px;
  border-bottom: 1px solid #ccc; }
  nav a.title {
    color: #000;
    font-size: 14pt;
    text-decoration: none;
    font-family: georgia, times; }
  nav ul {
    display: inline;
    padding-left: 20px; }
    nav ul li {
      list-style: none;
      font-variant: small-caps;
      display: inline; }
      nav ul li:not(:last-child) {
        padding-left: 10px; }
      nav ul li a {
        text-decoration: none;
        color: #000; }
        nav ul li a:hover {
          text-decoration: underline; }

ul#pages {
  text-align: center;
  padding: 0; }
  ul#pages li.page {
    list-style: none;
    padding-bottom: 20px; }
    ul#pages li.page:not(:last-child) {
      border-bottom: 1px solid #ccc; }
    ul#pages li.page h1 {
      margin: 20px 0; }
      ul#pages li.page h1 a {
        color: #000;
        text-decoration: none; }
        ul#pages li.page h1 a:hover {
          text-decoration: underline; }
    ul#pages li.page .meta .date {
      color: #888;
      margin: 10px; }
    ul#pages li.page .meta .tagline {
      font-weight: bold; }

.post {
  margin: 25px 0; }
  .post h1 {
    margin: 0; }
  .post h3.readtime {
    color: #888;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: normal; }
